grafana:
  adminPassword: "change-me"
  service:
    type: NodePort
    nodePort: 32000
  ingress:
    enabled: false
  defaultDashboardsTimezone: utc
  sidecar:
    dashboards:
      enabled: true
      label: grafana_dashboard
      searchNamespace: monitoring
  persistence:
    enabled: true
    size: 5Gi

prometheus:
  ingress:
    enabled: false
  prometheusSpec:
    retention: 15d
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi

alertmanager:
  enabled: true

kube-state-metrics:
  enabled: true

nodeExporter:
  enabled: true
