grafana:
  adminPassword: "your-grafana-password"
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - grafana.your-domain
    tls:
      - secretName: grafana-tls
        hosts:
          - grafana.your-domain
  defaultDashboardsTimezone: utc

prometheus:
  ingress:
    enabled: false

alertmanager:
  enabled: true

kube-state-metrics:
  enabled: true

nodeExporter:
  enabled: true
