# Monorepo ignores

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.sqlite3
backend/.env
backend/.pytest_cache/
backend/.mypy_cache/
backend/staticfiles/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.vite/

# Logs and temp
*.log
*.tmp
*.temp

# Root env files
.env
.env.prod
.docker-compose.*.rendered.yml

# Production compose
docker-compose.prod.yml

# Kubernetes
k8s/backend-secret.yaml
k8s/ingress.prod.yaml
k8s/backend-configmap.prod.yaml
k8s/monitoring/values.prod.yaml

# Local production env files
backend/.env.prod
